body{
  margin: 0;
}
p,h1,h2,h3,h4,h5{
  margin: 0;
  color: #444;
}
img{
  margin: 0;
}
ul,ol{
  margin: 0;
}
ul li{
  list-style: none;
  color: #444;
}
a{
  text-decoration: none;
  color: #333;
}
.dn{
  display: none;
}
.op0{
  opacity:0;
}
.bold{
  font-weight: bold;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.smaller{
  font-size: smaller;
}
.nowrap{
  display: inline-block;
}
.link{
  text-decoration: underline;
  color:#1a0dab;
}
.right{
  text-align: right;
}
.acountingTable td{
  text-align: right;
}

/* ------------top-------------- */

#to_top{
  position: fixed;
  bottom:86px;
  right:24px;
  opacity:0;
  transition: opacity .8s;
}
#to_top.scrolled{
 opacity: 1;
}
#to_top i{
  font-size: 32px;
  color:#333

}

/* ----------main style -----------*/
.main{
  margin: 0 auto;
  width: 95%;
}
@media(min-width:800px){
  .main{
    width:800px;
  }
}