.market_dev{
  background: #38b48b;
}
.investment{
  background: #b44c97;
}
.digitalization{
  background: #c53d43;
}
.cash_flow{
  background: #0094c8;
}
.talent{
  background: #59b9c6;
}
.founding{
  background: #93b69c;
}
.disaster{
  background: #c89932;
}
.collecting_info{
  background: #165e83;
}
.intellectual{
  background: #824880;
}
.succession{
  background: #474b42;
}
.large_biz{
  background: #7a8b48;

}
.middle_biz{
  background: #47885e;
}
.small_biz{
  background: #0f2350;
}
.solo_pro{
  background: #cd5e3c;
}
.prospective_entre{
  background: #460e44;
}